<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/CSS/home.css" >
    <title>Patient Portal - Home</title>

   
</head>
<body>
    <header>
        
        <img src = "/STATIC/whiteLogoSmall.png" alt = "logoTitle" class = "logoTitle">
        <br> 
        <!-- <img src = "../STATIC/motto-White.png" alt = "motto" > -->
    </header>
    

       
       
    <div class = "navContainer" >
        
        <nav>
            <ul>
                <!-- <li><img src = "../STATIC/portaLuxBunnyLogo.png"alt = "logoImg" class = "logoImg" width = "90"></li> -->

                <li><a href="/home"  class = "home_link">Home</a></li>
                <form action="/appointments" method="POST">
                <li><a href="/appointment">Appointments</a></li>
                </form>
                <form action="/medicalHistory" method="POST">
                <li><a href="/medicalHistory" class = "nav_link" data-link>Medical Records</a></li>
                </form>
                <li><a href="/billing">Billing Process</a></li>
                <form action="/profile" method="POST">
                <li><a href="/profile">Profile</a></li>
                </form>

                
            </ul>
        </nav>
    </div>
    <main>
    
        <div class="dashboard-content">
            
            
            <!-- <div class = "dashboard-header">
                
                <h2>Welcome!</h2>
                <br>
                <p> See What's New</p>
    
    
            </div> -->
            
            <div class="grid-item1">
                <!-- <img src = "../STATIC/Getting Coffee-pana.png" alt = "slideshow1" width = 100px> -->
                
            </div>
            <div class="grid-container2">
                <div   id = "welcomeSign">
                    <h2>Welcome!</h2>
                    <p> See What's New </p>

                </div>

                <div class = "grid-item-2" onclick= "location.href= '/Appointment.ejs';">
                    <p> Schedule Your Annual Appointment!</p>
                </div>

                <div class = "grid-item-2" id = "message">
                    <h2> New Message </h2>
                    
                    <p> Your Results are in. Go To Medical History</p>
                </div>

            
            </div>
            <div class = "grid-container3">
                <h2 id = "dailyTips"> Daily Tips </h2>
                <div class="grid-item-3" id = "tips">

                    <h3> Natural Supplement Recommendation: </h3>
                    <p> Papaya Enzymes are Great For Indigestion! </p>
    
                </div>
                <div class="grid-item-3" id = "Exercise">

                    <h3> Daily Beginner Workout </h3>
                    <p> It's Leg Day Wednesday! Let's Get Moving!</p>
    
                </div>


            </div>
           

            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
        
        

            
                
           

                



        </div>
    </main>
    <footer>
        <p>&copy; 2023 Patient Portal</p>
    </footer>
</body>
</html>
