<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--external css link-->
    <link rel="stylesheet" type="text/css" href="styles/sample.css">
    <title>Testing Page</title>
</head>
<body>

    <h1>This is a test page :> <%= message %> </h1> <!--passed message from server is here-->

    <!--This is the ejs engine in action! 
    To have dynamic pages we can embed javascript using ejs tag -->
    <h2> <%= Date() %> </h2> <!--Anything inside <%= %> can be js and it will display on page -->

    <p>For loop output:</p>
    <ul>
        <% for (let i = 0; i < 10; i ++) { %>
        <li><%= i %></li>
        <% } %>
        </ul>

    <img src="./images/happypeople.png" alt="people graphic" width="500" height="auto">
</body>
</html>