<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>New User Welcome</title>
    </head>
    <style>



        #entryinfo{
            display:grid;
            place-items: left;
            
        }

        #background{
            background-image: url(../STATIC/International\ Youth\ Day-pana.png);
            background-size:cover;
            background-repeat: no-repeat;
            background-position-x: 80px;
            
            
        }

        #loginsquare{

            border-radius: 25px;
            padding: 50px 0px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

            text-align: center;
            font-size: larger;

            background-color: rgba(214, 210, 208, 0.39);
            
            margin: auto;
            margin-top: 4%;
            margin-bottom: 5%;
            
            min-width: 50%;
            max-width: 70%;
            height: 100%;
            
        }

        #img1, #img2, #img3,  #img4,  #img5,  #img6,  #img7, #img8,  #img9,  #img10{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border: 4px solid transparent;
        }

        #img1.active, #img2.active, #img3.active,  #img4.active,  #img5.active,  #img6.active,  #img7.active, #img8.active,  #img9.active,  #img10.active{
            border-color:rgb(233, 93, 203);
        }

        #submit{
           
           font-size: large;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           background-color: #dcb7d9;
           border-radius: 10px;
           border-color: aliceblue;
        }

       #submit:hover {
           background-color: rgb(147, 65, 202);
           color: white;
        }
        #address{
            vertical-align: top; /* Set vertical alignment to top */
            resize: none;
        }
        #title {
    
            text-align: left;
            margin-left: 75px;
            margin-bottom: 20px;
            
            font-size: 75px;
            font:bolder;
            
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

            color: #8c67bd;
            opacity: .75;
           
        }
        input {
            font-size: large;
            text-align: center;
            border-radius: 10px;
            border-color: rgba(214, 210, 208, 0.37);
            height: 35px;
            justify-content: left;
        }
        input:hover {
            border-color: rgb(133, 1, 221);

        }
        input:focus {
            background-color: #e2cce0;
        }
        #address {
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            border-radius: 10px;
            border-color: rgba(214, 210, 208, 0.37);

        }
        #address:hover {
            border-color: #8c67bd;
        }
        #address:focus {
            background-color: #dcb7d9b2;
            
        }
        label {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight:550;
            font-variant: small-caps;
            color: rgb(100, 99, 99);
        }


       

    </style>
    
    <body id="background" style="background-color: aliceblue;" >

        <div id="loginsquare">
            
            <p id="title"> Welcome <br> Newbie!</p>

        <div id="entryinfo" >
            <div id="error-message" style="color: red; text-align: center;">
                <% if (typeof msg !== 'undefined' && msg_type === 'error') { %>
                    <%= msg %>
                <% } %>
            </div>
            
        <form action="/signuppage" method="POST">
            
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" size="30" required placeholder = "Enter First Name Here" >
            <br><br>
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" size="30" required placeholder = "Enter Last Name Here">
            <br><br>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" size="30" required>
            <br><br>
            <label for="address">Address:</label>
            <textarea id="address" name="address" rows="2" cols="30" placeholder="Enter Address Here" required></textarea>
            <br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" size="35" required placeholder="Enter Email Here">
            <br><br>
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" placeholder="xxx-xxx-xxxx" size="25" required>
            <br><br>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
           
            <br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" size="20" required>
            <br>
<h4 style="font-family: 'Times New Roman',serif;"> Choose Your Image <br> (This is your second way to authenticate yourself when you sign in)</h4>
            <div id="images">
            <img id="img1" src="/STATIC/burger.jpg" data-value="1234" onclick="selectImage(this)">
            <img id="img2" src="/STATIC/brownpuppy.jpg" data-value = "5678" onclick="selectImage(this)">
            <img id="img3" src="/STATIC/catglasses.jpg" data-value = "9101" onclick="selectImage(this)">
            <img id="img4" src="/STATIC/gardenflower.jpg" data-value = "2131" onclick="selectImage(this)">
            <img id="img5" src="/STATIC/orangecat.jpg" data-value = "4151" onclick="selectImage(this)">
            <img id="img6" src="/STATIC/pinkcar.jpg" data-value = "6171" onclick="selectImage(this)">
            <img id="img7" src="/STATIC/pinkflower.jpg" data-value = "8192" onclick="selectImage(this)">
            <img id="img8" src="/STATIC/pugpuppy.jpg" data-value = "0212" onclick="selectImage(this)">
            <img id="img9" src="/STATIC/chromecar.jpeg" data-value = "2232" onclick="selectImage(this)">
            <img id="img10" src="/STATIC/yellowflower.jpg" data-value = "4252" onclick="selectImage(this)">
            </div> 

            <input type="hidden" id="selectedimage" name="selectedimage">

            <input type="hidden" id="imgpwd" name="imgpwd">
            <br><br>
            <button id="submit"> Create Account</button>
        </form>

    </div>
    <br>
    <img src = "../STATIC/whiteLogoMedium.png" alt = "logo">
    
        </div>
    
        
       
    </body>

<script>

        let currentselect = null;

         function selectImage(img) {
             // Get the data-value attribute of the clicked image
             var value = img.getAttribute("data-value");
  
             // Set the value of the hidden input field with the ID "imgpwd"
             document.getElementById("imgpwd").value = value;

             if(currentselect){
                currentselect.classList.remove('active');
             }

             img.classList.add('active');

             currentselect = img;

     }   

    </script>

    <!--<script src="index2.js"></script> -->
</html>

<!-- file:///Users/zoegooden/Documents/csa499/signuppage.html -->

<!-- <a href="https://storyset
