h4,
h3,
p {
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0px;
    background-color: #f4f4f4;
}

/* Header style */
header {
    background-color: rgb(109, 75, 106);
    color: rgb(164, 102, 206);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 0;
    font-size: 28px;
    background-image: url(../STATIC/Season\ change-amico.png);
    background-blend-mode: soft-light;
    background-size: 60%;
    background-position-y: center;
    background-position-x: right;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px #918484;




}



/* Navigation menu style */
nav {
    background-color: rgb(230, 232, 233);
    text-align: left;
    padding: 1px;
    box-shadow: 2px 2px 12px #a7a3a3;
    opacity: 90%;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {

    float: left;

}

nav a {
    text-decoration: none;
    color: #463f3f;
    font-size: 18px;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    padding: 15px;
    transition: background-color 0.3s;


}

nav a:hover {
    background-color: aliceblue;


}

.home_link {
    background-color: aliceblue;
    color: #000000;


}

.profileIcon {
    width: 50px;
    height: 50px;
    margin: auto;
}

.home_link {
    background-color: aliceblue;
    color: #000000;
}

#heading {
    color: #b054c1;
    font-size: 36px;
    text-align: center;
    padding: 10px;
}

main {
    flex: 1;
    width: 90%;
    margin: 20px 0px 20px 0px;
    align-self: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(104, 50, 50, 0.2);
    margin: 20px auto;
}

.card-container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px;
}

.container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.card {

    border-radius: 3vw;
    height: 200px;
    width: 200px;

}


.info {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    border-radius: 3vw;

}


.card:hover .info {
    color: white;
    box-shadow: 10px 10px 25px plum;
    background-color: rgb(175, 124, 209);
    transition: 0.3s;
    cursor: pointer;
    transition: transform 0.5s;
}

/*for flipping card */
.rotate {
    transform: rotateY(180deg);
}


.front {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.front p {
    font-size: 14px;
}

.front,
.back {
    background: #eeeeee;
    box-shadow: 2px 2px 5px #b1aeae;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #272727;
    text-align: center;
    border-radius: 3vw;
    backface-visibility: hidden;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background: #893893;
    color: white;
    transform: rotateY(180deg);
}

.back button {
    cursor: pointer;
    background: transparent;
    border: 1.5px solid rgb(225, 124, 225);
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    transition: background 0.3s;
    font-size: 15px;
}


.back button:hover {
    background: rgb(225, 124, 225);

}


footer {
    align-self: stretch;
    background-color: rgb(221, 233, 243);
    color: #463f3f;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0;
    box-shadow: 2px 2px 12px #a7a3a3;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;

    }

    .container,
    .card {
        width: 100%;
    }

}
