/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


header {
    background-color: #dd7676; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}


.container {
    padding: 20px;
    text-align: center;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50; 
    color: #fff; 
    border: 2px solid #4caf50; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px; 
    margin-top: 20px; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}


.button:hover {
    background-color: #45a049; 
    border-color: #45a049; 
}


h1, h2 {
    color: #1c7c39;
}


p {
    color: #e00808; 
}