body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}


header {
    background-color: #8c67bda2; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}


.container {
    padding: 20px;
    text-align: center;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8c67bd; 
    color: #fff; 
    border: 2px solid #875fbb; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px; 
    margin-top: 20px; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}


.button:hover {
    background-color: #4586a0; 
    border-color: #9578e4; 
}


h1, h2 {
    color: #8c67bd;
}


p {
    color: rgb(27, 27, 27); 
}
.container {
    background-image: url(../STATIC/Doctors-pana.png);
    background-size: cover;
    background-blend-mode: color-burn;
    
}
.words {
    opacity: 100%;
}