.background {
    background-color: aliceblue;
    height:auto;
    background-image: url(../STATIC/purpleThemePhoto.webp);
    background-repeat: no-repeat;
    background-position-x: right;
     
}

.loginCard {

    border-radius: 25px;
    padding: 100px 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    text-align: center;
    font-size: larger;

    background-color: rgba(214, 210, 208, 0.39);
    

    
    margin: auto;
    margin-top: 4%;
    
    width: 50%;
    height: 100%;

}

input {
    font-size: large;
    text-align: center;
    border-radius: 10px;
    border-color: rgba(214, 210, 208, 0.37);
}

label {
    text-align: left;

}

input:hover {
    border-color: rgb(133, 1, 221);

}

.loginButton {
    border-radius: 10px;
    border-color: rgb(133, 1, 221);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: rgb(250, 247, 245);
    
}

.loginButton:hover {
    background-color: rgb(133, 1, 221);
    color: white;
    
}

.welcome {
    
    text-align: left;
    margin-left: 75px;
    margin-bottom: 20px;
    
    font-size: 75px;
    font:bolder;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color: #8c67bd;
    opacity: .75;
}
